{% extends 'base.html' %}

{#markdown编辑功能#}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
{% endblock %}

{% block body %}
    <div class="container mx-auto m-2" style="width: 70%">
        <div class="d-flex mt-3">
            <h2>开始撰写你的文章吧</h2>
        </div>
        <form method="post">
            <input class="form-control form-control-lg" name="title" id="title" type="text" placeholder="输入标题"
                   aria-label=".form-control-lg example" style="position: relative; margin: 20px auto;">
            <div style="z-index: 1500; position: relative">
                <textarea id="content" class="text-center" name="content"></textarea>
                <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
                <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
                <script>
                    var simplemde = new SimpleMDE({
                        element: document.querySelector('textarea'),
                        autoDownloadFontAwesome: false,//true从默认地址引入fontawesome依赖 false需自行引入(国内用bootcdn更快点)
                        autofocus: true,
                        autosave: {
                            enabled: true,
                            uniqueId: "SimpleMDE",
                            delay: 1000,
                        },
                        blockStyles: {
                            bold: "**",
                            italic: "*",
                            code: "```"
                        },
                        forceSync: true,
                        hideIcons: false,
                        indentWithTabs: true,
                        lineWrapping: true,
                        renderingConfig: {
                            singleLineBreaks: false,
                            codeSyntaxHighlighting: true // 需要highlight依赖
                        },
                        showIcons: true,
                        spellChecker: false
                    });

                </script>
            </div>
            <button class="btn btn-primary btn-lg ms-auto" type="submit">发布</button>

        </form>
    </div>
{% endblock %}