{% extends 'base.html' %}
{% block body %}
    <div class="container mx-auto m-2" style="width: 70%">
        <div class="card border-success mb-3 text-center">
            <div class="card-body">
                <a href="/challenges/add">添加题目</a>
            </div>
        </div>
        <div class="row">
            {% for challenge in challenges %}
                <div class="col-sm-6 mb-3">
                    <div class="card border-primary">
                        <div class="card-body">
                            <h5 class="card-title">{{ challenge.title }}</h5>
                            <p class="card-text">类型：{{ challenge.type }}</p>
                            <p class="card-text">{{ challenge.content }}</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop{{ challenge.id }}">
                                详情
                            </button>
                            <a href="/challenges/delete/{{ challenge.id }}" type="button" class="btn btn-danger">
                                删除
                            </a>
                            <div class="modal fade" id="staticBackdrop{{ challenge.id }}" data-bs-backdrop="static"
                                 data-bs-keyboard="false"
                                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5"
                                                id="staticBackdropLabel">{{ challenge.title }}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action=""
                                                  enctype="multipart/form-data">
                                                <div class="form-group mb-3">
                                                    <h6>题目编号</h6>
                                                    <input type="text" class="form-control" name="id" id="id"
                                                           value="{{ challenge.id }}" aria-label="id"
                                                           aria-describedby="basic-addon1" readonly>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <h6>题目名称</h6>
                                                    <input id="title" name="title" type="text" class="form-control"
                                                           placeholder="{{ challenge.title }}"
                                                           aria-label="{{ challenge.title }}"
                                                           aria-describedby="basic-addon2">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <h6>类型</h6>
                                                    <input id="type" name="type" type="text" class="form-control"
                                                           placeholder="{{ challenge.type }}"
                                                           aria-label="{{ challenge.type }}"
                                                           aria-describedby="basic-addon2">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <h6>题目内容</h6>
                                                    <textarea id="content" name="content" class="form-control"
                                                              aria-label="With textarea">{{ challenge.content }}</textarea>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <h6>分数</h6>
                                                    <input id="score" name="score" type="text" class="form-control"
                                                           placeholder="{{ challenge.score }}"
                                                           aria-label="{{ challenge.score }}"
                                                           aria-describedby="basic-addon2">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <h6>docker容器名称</h6>
                                                    <input id="docker_name" name="docker_name" type="text"
                                                           class="form-control" placeholder="

                                                            {% if challenge.docker_name %}{{ challenge.docker_name }}{% else %}无docker名称{% endif %}"
                                                           aria-label="

                                                                   {% if challenge.docker_name %}{{ challenge.docker_name }}{% else %}无docker名称{% endif %}"
                                                           aria-describedby="basic-addon2">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <h6>flag</h6>
                                                    <input id="flag" name="flag" type="text" class="form-control"
                                                           placeholder="{{ challenge.flag }}"
                                                           aria-label="{{ challenge.flag }}"
                                                           aria-describedby="basic-addon2">
                                                </div>
                                                <div class="form-group form-check form-switch mb-3">
                                                    <input class="form-check-input" name="show" type="checkbox"
                                                           role="switch" id="show" {% if challenge.show %}
                                                           checked {% endif %}>
                                                    <label class="form-check-label" for="show">是否展示</label>
                                                </div>
                                                <div class="form-group input-group mb-3">
                                                    <input type="file" name="file" class="form-control" id="file">
                                                </div>
                                                <button type="submit" class="btn btn-primary">修改</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-body-secondary text-center fs-6">
                            {{ challenge.create_time }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="mx-auto">
                {{ pagination.links }}
            </div>
        </div>
    </div>
{% endblock %}