{% extends 'base.html' %}
{% block title %}登录{% endblock %}
{% block head %}
    <style>
        .login-container {
            height: 400px; /* Adjust this value according to your requirement */
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container mx-auto m-5">
            <div class="col-md-4 mx-auto m-5">
                <div class="card">
                    <div class="card-header">登录你的账户</div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group mb-1">
                                <label for="username">用户名</label>
                                <input name="username" type="text" class="form-control" id="username" placeholder="输入用户名">
                            </div>
                            <div class="form-group mb-1">
                                <label for="password">密码</label>
                                <input type="password" name="password" class="form-control" id="password" placeholder="输入密码">
                            </div>
                            <div class="mb-3 form-check">
                                <input name="exampleCheck1" type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">记住我</label>
                            </div>
                            <button type="submit" class="btn btn-primary mb-1">登录</button>
                            <a class="btn btn-primary mb-1" href="/register" role="button">注册</a>
                        </form>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}