{% extends 'base.html' %}
{% block body %}
    <div class="container mx-auto m-2" style="width: 70%">
        <div style="padding: 3rem">
            <h1>学习资料</h1>
            <p><a href="https://ctf-wiki.org/">CTF-Wiki</a></p>
            <p><a href="https://bbs.pediy.com/forum-150.htm">看雪论坛</a></p>
            <p><a href="https://blog.csdn.net/m0_49835838/article/details/122655207">Web学习路线</a></p>
            <p><a href="https://r3kapig.com/">r3kapig_Offical</a></p>
            <p><a href="https://mp.weixin.qq.com/s/6dvz-7Cf5QaIJeOgsVOu6g">三叶草逆向入门</a></p>
            <p><a href="https://mp.weixin.qq.com/s/cnxDLUKi8y0WgqinotNlpA">三叶草Web入门</a></p>
            <h3>在线练习平台</h3>
            <p><a href="https://buuoj.cn/">BUUOJ</a></p>
            <p><a href="https://adworld.xctf.org.cn/">攻防世界</a></p>
            <p><a href="https://www.jarvisoj.com/">JarvisOJ</a></p>
            <p><a href="https://ctf.bugku.com/">bugku</a></p>
        </div>
    </div>
{% endblock %}