{% extends 'base.html' %}
{% block body %}
    <div class="container mx-auto m-2" style="width: 70%">
        <div class="card border-success mb-3 text-center">
            <div class="card-body">
                想分享点什么？点击<a href="/article/add">开始写文章</a>
            </div>
        </div>
        <div class="row">
            {% for article in articleList %}
                <div class="col-sm-6 mb-3">
                    <div class="card border-primary">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ article.id }}">{{ article.title }}</a></h5>
                            <p class="card-text">{{ article.content }}</p>
                        </div>
                        <div class="card-footer text-body-secondary text-center fs-6">
                            {{ article.create_time }}
                            <a class="link-secondary" href="/user/{{ article.author.username }}">{{ article.author.username }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="mx-auto">
                {{ pagination.links }}
            </div>
        </div>
    </div>
{% endblock %}
